@import '~antd/lib/style/v2-compatible-reset.less';
@import "~antd/lib/style/index.less";

@import './common';
@import './custom';
@import './edit-list/index';
/*  antd less */
@import '~antd/lib/tabs/style/index.less';
@import '~antd/lib/message/style/index.less';
@import '~antd/lib/pagination/style/index.less';
@import '~antd/lib/popover/style/index.less';
@import '~antd/lib/button/style/index.less';
@import '~antd/lib/tooltip/style/index.less';
@import '~antd/lib/grid/style/index.less';
@import '~antd/lib/switch/style/index.less';
@import '~antd/lib/radio/style/index.less';
@import '~antd/lib/dropdown/style/index.less';
@import '~antd/lib/menu/style/index.less';
@import '~antd/lib/select/style/index.less';
@import '~antd/lib/collapse/style/index.less';
@import '~antd/lib/modal/style/index.less';

@import '~antd/lib/input/style/index.css';

@import './content';
@import './edit-influence';
@import './nav-controller';
@import './side-menu';
@import './edit-stage';
@import './banner-slide';

@import './other-view.less';

@import '../../templates/static/point';

.edit{
  &-wrapper {
    width: 100%;
    position: relative;
    height: 100vh;
    background: @edit-bg-color;
    overflow: hidden;
    /** {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }*/
    > div {
      height: 100%;
      float: left;
    }
  }
  &-left-view {
    width: ~"calc(100% - 280px)";
  }
  &-right-view {
    width: 280px;
    border-left: 1px solid @edit-line-color;
  }
}