@import '../../../static/custom.less';
@header: header0;
.@{header} {
  background: @template-nav-bg-color;
  width: 100%;
  z-index: 970;
  box-shadow: 0 5px 8px fade(#000, 15);
  position: relative;
  top: 0;
  &-logo {
    display: inline-block;
    position: relative;
    width: 150px;
    line-height: 64px;
    & img {
      vertical-align: middle;
      display: inline-block;
    }
    & a {
      display: block;
    }
  }
  &-menu {
    float: right;
    line-height: 62px;
    position: relative;
    background: transparent;
    color: @template-text-color-light;
    height: 64px;
    border-bottom-color: transparent;
    & li {
      float: left;
      text-align: center;
      width: 100px;
    }
    & .ant-menu-horizontal>.ant-menu-item-active {
      color: @link-hover-color;
      border-bottom-color: @link-hover-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .@{header} {
    &-logo {
      z-index: 101;
    }
    &-menu {
      height: auto;
    }
    &-mobile-menu {
      width: 16px;
      height: 14px;
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 20px;
      z-index: 100;
      em {
        display: block;
        width: 100%;
        height: 2px;
        background: #FFF;
        margin-top: 4px;
        transition: transform .3s @ease-in-out, opacity .3s @ease-in-out;
      }
      :first-child {
        margin-top: 0;
      }
    }
    .ant-menu {
      float: inherit;
      position: relative;
      left: -24px;
      height: 0vh;
      overflow: hidden;
      width: ~"calc(100% + 48px)";
      transition: opacity .3s @ease-in-out, height .3s @ease-in-out;
      background: @template-bg-color;
      .ant-menu-item-selected {
        border: none;
      }
    }
    & .open {
      height: auto;
      .@{header}-mobile-menu {
        em {
          &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
      .ant-menu {
        height: 210px;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}